#heading{
  color: #e3cb81;
}
.para{
  width: 60%;
  margin: auto;
}
li{
  display: flex;
  align-items: center;
  list-style: none;
}
#imageArea{
  width: 100px;
  height: 100px;
}
#imageArea img{
  width: 100%;
  height: 100%;
}